@import "~uikit/dist/css/uikit.min.css";
@import "~intro.js/minified/introjs.min.css";
@import "~intro.js/themes/introjs-modern.css";

/* */
:root {
    --selected-colour: #006fff; //Main colour for displaying the properties
    --base-colour: #1749b3;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    //overflow-y: hidden;
    -webkit-appearance: none;
}
div.block-infos {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    flex: 1;
    //min-height: 200px;
    margin-bottom: 36px;
    margin-left: 10;
    margin-right: 10;
    background-color: #ffffff;
}
div.query-answer {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 50px;
    text-align: center;

    padding: 10px;
}

#query-card-container {
    overflow: auto;
    outline: 1px solid var(--selected-colour);
    //cursor: grab;
    padding:0 10px;
}

#query-card-container > .uk-card {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#query-card-container > .uk-card > .uk-card-body {
    text-align: left;
}

#query-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
}

.block-card-header-details > p {
    font-family: monospace;
    margin-bottom: 5px;
    margin-top: 5px;
}

#query-header > div {
    //padding-left: 2%;
    font-weight: 700;
    color: #666;
    font-size: 1.3em;
}

.block-card-content {
    font-weight: 700;
    margin-top: 5px;
    color: #666;
    font-size: 1.3em;
    margin-bottom: 15px;
}

.transaction-card-header-title {
    font-weight: 700;
    margin-top: 5px;
    color: #666;
}

.transaction-title {
    font-family: monospace;
    color: #666;
    font-size: 1.0em;
}
//code added: change the download icon color on hover
.download-icon-1 {
    display: inline-block;
    padding-left: 2px;
    float: right;
    svg{
        width:30px;
        height: 30px;
        cursor: default;
        path{
            stroke: #666;
        }

        &:hover path {
            stroke: #006fff;
            cursor: pointer;
        }
    }
}

.download-icon-2{
    display:inline-block;
    padding-left: 400;
    svg{
        width:25px;
        height: 25px;
        cursor: default;
        path{
            stroke: #666;
        }

        &:hover path {
            stroke: #006fff;
            cursor: pointer;
        }
    }
}

.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

//

/* Used to transform black SVGs to white SVGs, as well as displaying them inline*/
.white-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    margin-left: 15px;
    filter: invert(88%) sepia(67%) saturate(0%) hue-rotate(236deg)
        brightness(111%) contrast(100%);
}

.topnav {
    display: flex;
    background: #f0eeeece;
    height: auto;
    width: auto;
    -webkit-appearance: none;
    margin-bottom: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

/* Style the search box inside the navigation bar */
.topnav input[type="input"] {
    -webkit-appearance: none;
    padding: 10px;
    padding-bottom: 9px;
    border: 2px black;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 30%;
    width: 35%;
    font-size: 14px;
    font-family: "Roboto", Arial, sans-serif;
    border-radius: 15px 0 0 15px;
}
.topnav a[type="submit"] {
    padding-top: 10px;
    background: white;
    //margin-right: 35%;
    margin-top: 8px;
    margin-bottom: 8px;
    color: grey;
    border-right: 1px solid grey !important;
    padding-right: 8px;
    height: auto;
    width: auto;
    border: none;
    text-shadow: none;
    -moz-appearance: none;
    appearance: none;
}
.topnav > a > svg {
    padding-bottom: 8px;
}

.topnav > select {
    background: white;
    margin-top: 8px;
    margin-bottom: 8px;
    color: grey;
    border-radius: 0 15px 15px 0;
    border-color: #f0eeeece;
    border-left: 1px;
    height: 35px;
    width: 200px;
    border: none;
    font: 14px arial, sans-serif;
    text-shadow: none;
    -moz-appearance: none;
    appearance: none;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a,
    .topnav input[type="input"] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type="input"] {
        border: 1px solid #ccc;
    }
}

.block-detail-container {
    overflow-y: scroll;
    padding: 8px;
    flex: 1;
    max-height: 500px;
}

.browse-container {
    overflow-y: scroll;
    padding: 8px;
    flex: 1;
    max-height: 500px;
}

.uk-tooltip {
    word-wrap: break-word;
}

@media only screen and (max-width: 1000px) {
    div.block-infos {
        flex-direction: column;
    }
    div.block-detail-container {
        flex: none;
    }
    div.browse-container {
        flex: none;
    }
}

#progress-bar-container {
    align-self: center;
    flex-direction: row;
    width: 80%;
}

#progress-bar {
    height: 30px;
    z-index: 1;
    background-color: #4caf50;
}

#text-bar {
    position: relative;
    z-index: 2;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 150%;
    text-align: center;
    color: black;
}

.load-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(255, 255, 255);
    color: black;
    min-height: 200px;
}

.div-load {
    top: 30%;
    align-self: center;
    align-content: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blocks-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10;
    padding: 0 10px;
    height: 200px;
}

.mover {
    fill: grey;
    height: 6px;
    pointer-events:all;
    cursor:pointer;
}

#last-container {
    display: flex;
    margin-left: 35px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    animation: 2s ease-out 2s 1 slideInFromRight;
    background: white;
    animation-direction: reverse;
    overflow: hidden;
    padding-right: 40px;
    padding-left: 40px;
    width: 316.11111px;
    border-left-color: gray;
    border-left-width: 1px;
    border-left-style: solid;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.last-added {
    left: 0;
}

#status {
    outline: groove rgba(204, 204, 204, 0.3);
    margin: 40px;
}

#status-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#node-table {
    width: 400px;
    
}

.chart-badge {
    position:relative;
    box-sizing: border-box;
    min-width: 22px;    
    height: 22px;
    padding: 0 5px;
    border-radius: 500px;
    vertical-align: middle;
    background: #1749b3;
    color: #fff;
    font-size: .875rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.uk-table caption {
    color: #fff;
}

.uk-table th {
    color: #fff;
}

.uk-table td {
    font-size: small;
}


//zoom-in & out button
.dropdown {
    position:relative;
    right: 81%;
    top: 20px;
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    
}
.dropdown:hover {
    border-color: #006fff;
}

.zoombtn {
    position: relative;
    width: 100%;
    height: 100%;
    background-color:white;
    border: none;
    cursor: pointer;
}


#svg-zoombtn {
    width: 30px;
    height: 30px;
    max-width:none;

}

.dropdown-zoom{
    position:relative;
    display:inline-block;
}

.dropdown-zoom-content {
    display:none;
    position: absolute;
    top: 30px;
    left: 10px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}
.dropdown-zoom-content p {
    display: block;
    font-size: small;
    width: max-content;
}
.dropdown-zoom-content p:hover {
    color:#006fff;
}

.show {display: block;}

#svg-container {
    display: flex;
    flex-direction: row;
    flex: 90%;
}
::-webkit-scrollbar {
    widows: 25px;
}
::-webkit-scrollbar-track {
    border: 7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar-thumb {
    background: pink;
    border-radius: 3px;
}

.uk-open {
    background-color: #ffffff;
}

.description {
    width: 30%;
    left: 50% !important;
    text-align: justify;
    text-justify: inter-word;
    transform: translateX(-50%);
}

.clickable-detail-block > li {
    padding: 10px;
}

.clickable-detail-block .uk-accordion-content p {
    overflow-x: auto;
}

.alert-container {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 50%;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.other {
    background-color: rgb(0, 54, 14);
}

.alert.info {
    background-color: #2196f3;
}

.alert.warning {
    background-color: #ff9800;
}

.close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn:hover {
    color: black;
}

.cancel-button {
    display: inline-block;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 100%;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    background-color: #1749b3; //"#1749b3"
    right: 10%;
}

#white-icon {
    filter: invert(100%) sepia(8%) saturate(2%) hue-rotate(87deg)
        brightness(115%) contrast(100%);
}

.spinner {
    margin: 0 auto;
    align-self: center;
    display: flex;
}

.cancel-button:hover {
    border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width: 30em) {
    .cancel-button {
        display: block;
        margin: 0.2em auto;
    }
}

.uk-select {
    width: 60%;
}

//code added
.search-value {
    width: 30%;  
}

.search-text{
    font-weight: 900;
}


#button-browse {
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;        //modified was 60%
    border-width: 2px;
}

.logo {
    content: url(https://avatars2.githubusercontent.com/u/3638331?s=200&v=4);
    display: table;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

/*
footer from status.dedis.ch
*/

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    position: fixed;
    padding: 5px;
    font-size: 10px;
    text-align: center;
}

/*
List of classes for the new transaction container
*/

#block-detail-container {
    outline: 2px solid var(--selected-colour);
}

// #block-detail-field {
//     font-family: "Space Mono", monospace;
//     color: #ffffff;
// }
.uk-accordion > .uk-open {
    background-color: var(--selected-colour);
}

.uk-accordion-title:focus {
    color: #ffffff;
}

.uk-accordion-title::before {
    background-color: white;
}

.uk-accordion {
    font-family: "Space Mono", monospace;
    background-color: var(--selected-colour);
    padding: 8px;
}

.uk-accordion * {
    color: #ffffff;
    //added
    .search-value {
        color : black;
    }
}

.uk-accordion-content {
    padding-left: 15px;
}

.uk-accordion-content > p {
    margin-left: 10px;
}

#rejected {
    color: red;
}

#forwardlink-drop {
    background-color: var(--base-colour);
    max-width: 80%;
}

.active {
    background-color: rgb(255, 255, 255);
}

.block-detail-container p {
    font-size: 16px;
    overflow: auto;
}

.browse-container p {
    font-size: 16px;
    overflow: auto;
}

.spinner {
    animation: rotate 2s linear infinite;
    transform-origin: 50%;
}

.spinner circle {
    stroke: rgb(140, 182, 224);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.clip-blocky {
    clip-path: polygon(
        20% 0%,
        80% 0%,
        100% 20%,
        100% 80%,
        80% 100%,
        20% 100%,
        0% 80%,
        0% 20%
    );
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;

    img {
        color: #264473;
        max-width: none;
        height: 70;
    }

    #status-info {
        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .loader-wrapper {
                width: 50px;
                height: 50px;
                position: relative;
            }

            .info-message {
                padding: 20px;
                font-size: small;
            }
        }
    }
}

#select-roster {
    background:rgba(0,0,0,0.5); //darken background to overwrite .uk-open background-color 
}

.uk-button-small {
    width: 110px;
}


.x-axis {
    text-anchor: start;

    line {
        stroke: #8c764a;
    }

    path {
        stroke: #8c764a;
    }

    text {
        fill: #8c764a;
    }
}

#svg-spinner{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1.2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: transform;
    animation-name: rotate; 
    animation-duration: 1.2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
