@import "~uikit/dist/css/uikit.min.css";

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}
.topnav {
    display: flex;
    background-color: #f0eeeece;
    border: 50px black;
    margin-bottom: 10px;
    
  }
  
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(139, 9, 9);
    border-radius: 15px;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    display: block;
    padding: 10px;
    border: 2px black;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    border-radius: 15px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

.block-detail-container {
    overflow-y: scroll;
    padding: 8px;
    flex: 1;
}

.browse-container {
    overflow-y: scroll;
    padding: 8px;
    flex: 1;
}

@media only screen and (max-width: 1000px) {
    div.block-infos {
        flex-direction: column;
    }
    div.block-detail-container {
        flex: none;
    }
    div.browse-container {
        flex: none;
    }
}

#progress-bar-container {
    width: 80%;
    position: absolute;
    top: 52%;
    left: 10%;
}

#progress-bar {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: 1%;
    z-index: 1;
    background-color: #4caf50;
}

#text-bar {
    position: relative;
    z-index: 2;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 150%;
    text-align: center;
    color: black;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    color: black;
}

.div-load {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blocks-container {
    display: flex;
    flex-direction:row-reverse;
    margin-bottom: 10;
    padding: 0 10px;
}

#last-container{
    display: flex;
    margin-right: 35px;
  

    background-color: white;
    
    border-right: 1px solid gray;
}

#svg-container {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.uk-open {
    background-color: rgb(224, 224, 224);
}

.uk-accordion-title:focus {
    color: #333 !important;
}

.description {
    width: 30%;
    left: 50% !important;
    text-align: justify;
    text-justify: inter-word;
    transform: translateX(-50%);
}

.clickable-detail-block>li {
    padding: 10px;
}

.clickable-detail-block .uk-accordion-content p {
    overflow-x: auto;
}

.alert-container {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 50%;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.other {
    background-color: rgb(0, 54, 14);
}

.alert.info {
    background-color: #2196f3;
}

.alert.warning {
    background-color: #ff9800;
}

.close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn:hover {
    color: black;
}

.cancel-button {
    position: absolute;
    top: 80%;
    right: 10%;
    display: inline-block;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 110%;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    background-color: #0004e2;
}

.cancel-button:hover {
    border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width: 30em) {
    .cancel-button {
        display: block;
        margin: 0.2em auto;
    }
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    content: url(https://avatars2.githubusercontent.com/u/3638331?s=200&v=4);
}


/*
footer from status.dedis.ch
*/

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    position: fixed;
    padding: 5px;
    font-size: 10px;
    text-align: center;
}


/*
List of classes for the new transaction container
*/

.active {
    background-color: rgb(160, 160, 160);
}

.block-detail-container p {
    color: black;
    font-size: 17px;
}

.browse-container p {
    color: black;
    font-size: 17px;
}

.spinner {
    animation: rotate 2s linear infinite;
    transform-origin: 50%;
  }

 .spinner circle {
    stroke: rgb(140, 182, 224);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

  .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;

      h1 {
          color: #264473;
      }

      #status-info {
        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .loader-wrapper {
                width: 50px;
                height: 50px;
                position: relative;
            }
  
            .info-message {
                padding: 20px;
            }
        }

      }
  }

.x-axis{
   
    line{
    
        stroke: #8C764A;
    }

    path{
        stroke: #8C764A;
        
    }
    
    text{
        fill: #8C764A;
    } 
}


