@import "~uikit/dist/css/uikit.min.css";
body {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: hidden;
    background-color: rgb(230, 230, 230)
}

div.block-infos {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    flex: 1;
    min-height: 200px;
    margin-bottom: 36px;
    border: 1px solid rgb(100, 100, 100);
    margin-left: 10;
    margin-right: 10;
}

.block-detail-container {
    overflow-y: scroll;
    background-color: rgb(199, 199, 199);
    padding: 8px;
    flex: 1;
}

.browse-container {
    overflow-y: scroll;
    background-color: rgb(199, 199, 199);
    padding: 8px;
    flex: 1;
}

@media only screen and (max-width: 1000px) {
    div.block-infos {
        flex-direction: column;
    }
    div.block-detail-container,
    div.browse-container {
        flex: none;
    }
}

#progress-bar-container {
    width: 80%;
    position: absolute;
    background-color: rgb(199, 199, 199);
    top: 52%;
    left: 10%;
}

#progress-bar {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: 1%;
    z-index: 1;
    background-color: #4caf50;
}

#text-bar {
    position: relative;
    z-index: 2;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 150%;
    text-align: center;
    color: black;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    color: black;
}

.div-load {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blocks-container {
    border: 0px solid #000;
    margin-bottom: 10;
}

.blocks {
    display: block;
}

.uk-open {
    background-color: rgb(224, 224, 224);
}

.uk-accordion-title:focus {
    color: #333 !important;
}

.description {
    width: 30%;
    left: 50% !important;
    text-align: justify;
    text-justify: inter-word;
    transform: translateX(-50%);
}

.clickable-detail-block>li {
    padding: 10px;
}

.clickable-detail-block .uk-accordion-content p {
    overflow-x: auto;
}

.alert-container {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 50%;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.other {
    background-color: rgb(0, 54, 14);
}

.alert.info {
    background-color: #2196f3;
}

.alert.warning {
    background-color: #ff9800;
}

.close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn:hover {
    color: black;
}

.cancel-button {
    position: absolute;
    top: 80%;
    right: 10%;
    display: inline-block;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 110%;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    background-color: #0004e2;
}

.cancel-button:hover {
    border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width: 30em) {
    .cancel-button {
        display: block;
        margin: 0.2em auto;
    }
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    content: url(https://avatars2.githubusercontent.com/u/3638331?s=200&v=4);
}


/*
footer from status.dedis.ch
*/

.theme--light.v-footer {
    background: #f5f5f5;
    color: rgba(0, 0, 0, .87);
}

.theme--dark.v-footer {
    background: #212121;
    color: #fff
}

.v-footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0!important;
    -ms-flex: 0 1 auto!important;
    flex: 0 1 auto!important;
    min-height: 36px;
    -webkit-transition: .2s cubic-bezier(.4, 0, .2, 1);
    transition: .2s cubic-bezier(.4, 0, .2, 1)
}

.v-footer--absolute,
.v-footer--fixed {
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3
}

.v-footer--inset {
    z-index: 2
}

.v-footer--absolute {
    position: absolute
}

.v-footer--fixed {
    position: fixed;
}


/*
List of classes for the new transaction container
*/

.active {
    background-color: rgb(160, 160, 160);
}

.block-detail-container p {
    color: black;
    font-size: 17px;
}

.browse-container p {
    color: black;
    font-size: 17px;
}